
<section class="mockup">
    {% if page.video.size > 0 %}
    <video class="content" width="1000" height="660" loop muted autoplay poster="/assets/optimized/{{include.image}}-1000px.jpeg">
        <source src="/assets/video/{{page.video}}" type="video/mp4">
    </video>
    <picture>
        <source media="(max-width: 800px)" srcset="/assets/optimized/{{include.image}}-500px.jpeg, /assets/optimized/{{include.image}}-1000px.jpeg 2x" type="image/jpg">
        <source media="(max-width: 800px)" srcset="/assets/optimized/{{include.image}}-500px.webp, /assets/optimized/{{include.image}}-1000px.webp 2x" type="image/webp">
        <img src="/assets/optimized/{{include.image}}-500px.jpeg, /assets/optimized/{{include.image}}-1000px.jpeg 2x" class="content">
    </picture> 
    {% else %}
    <picture>
        <source srcset="/assets/optimized/{{include.image}}-1000px.jpeg, /assets/optimized/{{include.image}}-1500px.jpeg 2x" type="image/jpg">
        <source srcset="/assets/optimized/{{include.image}}-1000px.webp, /assets/optimized/{{include.image}}-1500px.webp 2x" type="image/webp">
        <img src="/assets/optimized/{{include.image}}-1000px.jpeg, /assets/optimized/{{include.image}}-1500px.jpeg 2x" class="content">
    </picture> 
    {% endif %}
    <picture>
        <source srcset="/assets/optimized/macbook-screen-50per.png, /assets/optimized/macbook-screen-100per.png 2x" type="image/png">
        <source srcset="/assets/optimized/macbook-screen-50per.webp, /assets/optimized/macbook-screen-100per.webp 2x" type="image/webp">
        <img src="/assets/optimized/macbook-screen-50per.png, /assets/optimized/macbook-screen-100per.png 2x" class="screen" style="background-image: url('/assets/optimized/{{include.image}}-800px.jpeg');">
    </picture> 

    <picture>
        <source srcset="/assets/optimized/macbook-key-50per.png, /assets/optimized/macbook-key-100per.png 2x" type="image/png">
        <source srcset="/assets/optimized/macbook-key-50per.webp, /assets/optimized/macbook-key-100per.webp 2x" type="image/webp">
        <img src="/assets/optimized/macbook-key-50per.png, /assets/optimized/macbook-key-100per.png 2x"  class="keyboard">
    </picture>

</section>