---
layout: default
---

    <!-- <picture>
        <source media="(max-width: 800px)" srcset="/assets/optimized/macbook-screen-25per.png" type="image/png">
        <source media="(min-width: 800px)" srcset="/assets/optimized/macbook-screen-50per.png" type="image/png">
        <source media="(max-width: 800px)" srcset="/assets/optimized/macbook-screen-25per.webp" type="image/webp">
        <source media="(min-width: 800px)" srcset="/assets/optimized/macbook-screen-50per.webp" type="image/webp">
        <img src="/assets/optimized/macbook-screen-25per.png" class="screen">
    </picture> 

    <picture>
            <source media="(max-width: 800px)" srcset="/assets/optimized/macbook-key-25per.png" type="image/png">
            <source media="(min-width: 800px)" srcset="/assets/optimized/macbook-key-50per.png" type="image/png">
            <source media="(max-width: 800px)" srcset="/assets/optimized/macbook-key-25per.webp" type="image/webp">
            <source media="(min-width: 800px)" srcset="/assets/optimized/macbook-key-50per.webp" type="image/webp">
            <img src="/assets/optimized/macbook-key-25per.png"  class="keyboard">
    </picture> -->

              {% capture hero_image %}{{page.hero}}{% endcapture %}
              {% include mockup_detail.html image=hero_image %}

<article>

    <h1>{{ page.title }}</h1>
    
        {{content}}
    
    <!-- <ul class="slideshow">
        {% for item in page.slider %}
        <li>
            <picture class="slide-item">
                <source media="(max-width: 800px)" srcset="{{ item }}" type="image/jpeg"> 
                <img src="{{ item }}">
            </picture>
        </li>
        {% endfor %}
    </ul> -->
    
    <a class="button" target="_blank" href="{{page.link}}">Bekijk de website</a>
    
    <ul class="details">
        <li>Ontwerp door: {{page.design}}</li>
    </ul>
    
</article>
